# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
env/
venv/
ENV/
.venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
logs/
*.log

# Mac OS / Windows
.DS_Store
Thumbs.db

# VSCode settings (optional)
.vscode/

# PyCharm settings (optional)
.idea/

# Pip cache
pip-wheel-metadata/
*.egg-info/

# Token / credentials (if any are added)
*.token
*.secrets
